.form-container {
  max-width: 300px;
  /* background: lightpink; */
  padding: 15px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.15);
}

.form-container p {
  margin: 0;
  margin-bottom: 10px;
}