.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.15s;
}

.card .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 0px 3px white(0, 0, 0);
  backface-visibility: hidden;
}

.card .card-content.front-side {
  position: absolute;
  transition: transform 0.25s;
}
.card .card-content.front-side img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  opacity: 0.9;
}

.card .card-content.back-side {
  transform: rotateY(-180deg);
  transition: transform 0.25s;

}

.card.flip .card-content.front-side {
  transform: rotateY(-180deg);
}

.card.flip .card-content.back-side {
  transform: rotateY(0);
}

.material-icons {
  color: blue;
  font-size: 70px;
}

.card.shake {
  animation: shake 0.5s ease-in-out
}

.card:hover {
  transform: scale(1.02)
}

@keyframes shake {
  0%, 100% {
    transform:translateX(0);
  }
  20% {
    transform:translateX(-10px);
  }
  40% {
    transform:translateX(10px);
  }
  60% {
    transform:translateX(-5px);
  }
  80% {
    transform:translateX(5px);
  }
}

@media(min-width: 1300px) {
  .material-icons {
    font-size: 100px;
  }

  .card .card-content {
    width: 150px;
    height: 150px;
  }
}
@media((min-width: 800px) and (max-width: 1300px)) {
  .material-icons {
    font-size: 80px;
  }

  .card .card-content {
    width: 120px;
    height: 120px;
  }
}