.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
}

@media(min-width: 1300px) {
  .cards-grid {
    grid-template-columns: repeat(8, 150px);
  }
}
@media((min-width: 800px) and (max-width: 1300px)) {
  .cards-grid {
    grid-template-columns: repeat(6, 120px);
  }
}