.you-won {
  color: rgb(0, 166, 221);
  font-size: 25px;
  text-align: center;
  animation: scaling 0.5s ease-in-out;
}
.you-won h1 {
  font-size: 90px;
}

@keyframes scaling {
  0% {
    transform: scale(0)
  }
  70% {
    transform: scale(1.3)
  }
  90% {
    transform: scale(1.15)
  }
  100% {
    transform: scale(1)
  }
}