main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 80px;
  padding: 25px 64px;
  /* box-sizing: border-box; */
  min-width: 950px;
  margin-top: 70px;
}
