@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(20, 20, 20), black);
}

* {
  user-select: none;
  font-family: "Roboto", sans-serif;
}

img {
  width: 70px;
}

@media(min-width: 1300px) {
  img {
    width: 100px;
  }
}
@media((min-width: 800px) and (max-width: 1300px)) {
  img {
    width: 80px;
  }
}