:root {
  --box-shadow-inset: 0 0 5px rgb(230, 230, 230, 0.15) inset;
}
.content {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  padding-bottom: 10px;
  border-bottom: var(--border-bottom-primary);
  margin-bottom: 10px;
}
.content div {
  min-height: 133px;
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 4px 4px 0 0;
  cursor: text;
  font-size: 1.2em;
  /* z-index: 1; */
}

.content div p {
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
  /* line-height: 1.5em; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
}

.content div p span {
  /* position: relative; */
  /* top: -70px; */
  margin-right: 1px;
  /* margin-top: 4px; */
  border: none;
  border-radius: 2px;
  padding: 0px 5px;
}

.content div p span.highlight {
  background-color: rgba(211, 211, 211, 0.1);
}
.content div p span.highlight-correct {
  background-color: rgba(71, 233, 71, 0.7);
}
.content div p span.highlight-wrong {
  background-color: rgba(255, 0, 0, 0.78);
}

.content div p span.correct {
  color: var(--green-color);
}

.content div p span.wrong {
  color: rgba(255, 0, 0, 0.78);
}

.content input[type="text"] {
  background: transparent;
  border: 1px solid var(--primary-color);
  padding: 10px;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  font-size: 0.95em;
}

.content input[type="text"]:focus {
  outline: none;
  border-color: var(--green-color);
}
.content input[type="text"]:disabled {
  border-color: orangered;
}
.content input[type="text"]:disabled::placeholder {
  text-align: center;
  font-size: 1.3em;
  color: orangered;
}
