.form-button-container {
  margin-top: 20px;
}

.form-button {
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 123, 255);
  color: white;
  padding: 7px 14px;
  margin-right: 5px;
  cursor: pointer;
  transition: opacity 0.15s
}
.form-button:hover {
  opacity: 0.8;
}
.form-button:active {
  opacity: 0.7;
}
